* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.conteiner {
    max-width: 1200px;
    margin: 0 auto;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #FFFFFE;
    color: black;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding: 40px;
    color:#a32350;
    margin-bottom: 20px;
     font-family: "Fredoka,cursive";

}


.paragraph {
    padding-bottom: 20px;
    font-size: 18px;
}

.big-box {
    background-color: black;
    color: #FFFFFE;
    margin-top: 20px;
    width: 360px;
    margin-right: 30px;
    margin-bottom: 40px;
}

img {
    float: left;
    width: 100px;
    margin-right: 10px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.email {
   padding: 10px;
    color: rgb(48, 140, 180);
 
}
.pull-left{
    float: left;
}

span {
    text-align: middle;
}